@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.main-container{
    padding: 20px;
    margin: 40px auto;
    background-color: #f03a17;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    border-radius: 10px;
}

.content-container{
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.target{
    display: flex;
    flex-direction: column;
    border: dimgrey 1px solid;
    height: 300px;
    text-align: center;
    background-color: linen;
    border-radius: 8px;
    overflow-x: auto;
    padding: 10px;
}

.input-container{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#input{
    flex: 1;
    margin-right: 5px;
}

h1{
    text-align: center;
    font-family: 'Sonsie One', cursive;
    color: #ffc83d;
    -webkit-text-stroke: 5px black;
    paint-order: stroke fill;
    margin-top: 0px;
    margin-bottom: 40px;
}

li {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f1dcc7;
    list-style-type: none;
    padding: 5px;
    margin: 5px 0;
    text-align: left;
}